@import url("https://fonts.googleapis.com/css2?family=Jockey+One&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

.jockey-one-regular {
  font-family: "Jockey One", system-ui;
  font-weight: 0;
  font-style: normal;
}

* {
  font-family: "Jockey One";
}
